<h1>Restore password</h1>

<h3>Enter your email to send the password recovery</h3>

<form method="post" action="/api/sessions/forgot-password">
    <input type="email" placeholder="pepe@gmail.com", name="email" />
    <button>send email</button>
</form>