<h1><strong>Restore password</strong></h1>

<hr>
<br>

<h3>Enter your email to send the password recovery</h3>

<form method="post" action="/api/sessions/forgot-password">
    <input class="text" type="email" placeholder="ejemplo@gmail.com" name="email" />
    <br>
    <button class="efect">send email</button>
</form>