<h1><strong>Login</strong></h1>
<h3 style="color: green">{{message}}</h3>
<h3 style="color: brown">{{error}}</h3>

<hr>
<br>

<form method="post" action="/api/sessions/login">
    <input class="text" type="email" placeholder="Email" name="email" />
        <br/>
    <input class="text" type="password" placeholder="Password" name="password" />
        <br/>
    <button class="efect">Login</button>
</form>

<hr>
<br/>

<div>
    <a href="/forgot-password"><button class="efect">Forgot password</button></a>
</div>