<h1><strong>Profile</strong></h1>

<hr>
<br>

<main>
    <img src={{user.profile}} alt="{{user.first_name}}-imgProfile" />
    <h2>Welcome <span style="color: rgb(77, 77, 77)">{{user.first_name}}</span></h2>
    
    <h3>Your email is: <span style="color: rgb(77, 77, 77)">{{user.email}}</span></h3>
</main>


<br>
<hr>

<section>
    <a href="/api/sessions/logout">Close session</a>
</section>

<hr>
<br>

<section>
    <a href="/api/sessions/deleteUser">Delete acount</a>
</section>