<h1><strong>Register</strong></h1>
<h3 style="color: brown">{{error}}</h3>


<form method="post" action="/api/sessions/register" enctype="multipart/form-data">
    <input type="text" placeholder="firts name" name="first_name" />
        <br/>
    <input type="text" placeholder="last name" name="last_name" />
        <br/>
    <input type="email" placeholder="email" name="email" />
        <br/>
    <input type="password" placeholder="password" name="password" />
        <br/><br/>
    <input type="file" name="profile" />
        <br/>
    <button>Register</button>
</form>

<hr>
<br>

<div>
    <a href="/api/sessions/github"><button>Register with GitHub</button></a>
</div>