<h1><strong>Change the password</strong></h1>

<hr>
<br>

<form method="post" action="/api/session/reset-password?token={{token}}">
    <input class="text" type="password" placeholder="Password" name="newPassword" />
    <br>
    <button class="efect">Restore password</button>
</form>