*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}



body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(14, 14, 14);
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}



h1{
    font-size: 50px;
    font-weight: bold;
    color: rgb(189, 189, 189);
    margin-bottom: 20px;
}
h1::first-letter{
    font-size: 60px;
}



#chat{
    margin: auto;
    color: rgb(189, 189, 189);
    border: 1px solid rgb(189, 189, 189);
    width: 60%;
    margin-top: 20px;
    border-radius: 10px;
}

#chatBox{
    background-color: rgb(37, 37, 37);
    border: 1ex solid none;
    border-top-width: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
    color: rgb(189, 189, 189);
    outline: 7px solid rgb(37, 37, 37);
    height: 50px;
    width: 600px;
    font-size: 20px;
    text-align: left;
    transition: all 1s;
    font-weight: 600;
}

#chatBox:hover {
    border-top-width: 0.2em;
    background-color: rgb(189, 189, 189);
    color: rgb(37, 37, 37);
}

#chatBox:focus {
    border-top-width: 0.2em;
    background-color: rgb(189, 189, 189);
}


p{
    font-size: 18px;
    margin: 20px;
    margin-bottom: 40px;
    text-align: left;
}



span{
    font-size: 20px;
    color: rgb(236, 236, 236);
}