*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(14, 14, 14);
    color: rgb(189, 189, 189);
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}


h1{
    font-size: 50px;
    font-weight: bold;
    color: rgb(189, 189, 189);
    margin-bottom: 20px;
}
h1::first-letter{
    font-size: 60px;
}

p{
    font-size: 30px;
    font-weight: 700;
    color: rgb(189, 189, 189);
}
p::first-letter{
    font-size: 40px;
}


form{
    margin-top: 50px;
}


input{
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(14, 14, 14);
    color: rgb(189, 189, 189);
}


button{
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(189, 189, 189);
    color: rgb(14, 14, 14);
}