<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/{{style}}">
    
    <title>Ecommerce</title>
</head>

<body>
    <nav style="display: flex; justify-content: center; margin-bottom: 70px">
        <a style="margin-right: 60px; text-decoration: none; font-size: 20px; filter: drop-shadow(2px 2px 5px #0f0f0f); color: #b9b9b9" href="/">
            Home
        </a>

        <a style="margin-right: 60px; text-decoration: none; font-size: 20px; filter: drop-shadow(2px 2px 5px #0f0f0f); color: #b9b9b9" href="/chat">
            Chat
        </a>

        <a style="margin-right: 60px; text-decoration: none; font-size: 20px; filter: drop-shadow(2px 2px 5px #0f0f0f); color: #b9b9b9" href="/products">
            Products
        </a>

        <a style="margin-right: 60px; text-decoration: none; font-size: 20px; filter: drop-shadow(2px 2px 5px #0f0f0f); color: #b9b9b9" href="/carts">
            Cart
        </a>

        <a style="margin-right: 60px; text-decoration: none; font-size: 20px; filter: drop-shadow(2px 2px 5px #0f0f0f); color: #b9b9b9" href="/login">
            Login
        </a>

        <a style="margin-right: 60px; text-decoration: none; font-size: 20px; filter: drop-shadow(2px 2px 5px #0f0f0f); color: #b9b9b9" href="/register">
            Register
        </a>

        <a style="margin-right: 60px; text-decoration: none; font-size: 20px; filter: drop-shadow(2px 2px 5px #0f0f0f); color: #b9b9b9" href="/dashboard-users">
            Dashboard Users
        </a>
    </nav>

    {{{body}}}
</body>
</html>