<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/{{style}}">
    
    <title>Ecommerce</title>
</head>

<body>
    <nav style="display: flex; justify-content: center;">
        <a style="margin-right: 60px;" href="/">Home</a>
        <a style="margin-right: 60px;" href="/chat">Chat</a>
        <a style="margin-right: 60px;" href="/products">Products</a>
        <a style="margin-right: 60px;" href="/carts:cid">Cart</a>
        <a style="margin-right: 60px;" href="/login">Login</a>
        <a style="margin-right: 60px;" href="/register">Register</a>
    </nav>
    
    {{{body}}}
</body> 
</html>